<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
</head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-light">
			<div class="card-header text-white bg-dark">Empleado</div>
			<div class="card-body">

				<div th:object="${empleado}" th:remove="tag">
					<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger"
						role="alert">
						<li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
					</ul>
				</div>
				<form th:action="@{/empleados/saveEmpleado}" th:object="${empleado}"
					method="post">

					<div class="form-group">
						<div class="col-sm-10">
							<input type="hidden" class="form-control" th:field="*{idempleado}" />
						</div>
					</div>
					
					<div class="form-group row">
						<label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{nombreempleado}"
								class="form-control" th:errorclass="'form-control alert-danger'" />
							<small class="form-text text-danger"
								th:if="${#fields.hasErrors('nombreempleado')}"
								th:errors="*{nombreempleado}"></small>
						</div>
					</div>

					<div class="form-group row">
						<label for="apellido" class="col-sm-2 col-form-label">Apellido</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{apellidoempleado}"
								class="form-control" th:errorclass="'form-control alert-danger'" />
							<small class="form-text text-danger"
								th:if="${#fields.hasErrors('apellidoempleado')}"
								th:errors="*{apellidoempleado}"></small>
						</div>
					</div>
					<div class="form-group row">
						<label for="direccion" class="col-sm-2 col-form-label">Direccion</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{direccionempleado}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('direccionempleado')}"
								th:errors="*{direccionempleado}"></small>
						</div>
					</div>
					
					
					<div class="form-group row">
						<label for="tipodempleado" class="col-sm-2 col-form-label">Tipo Empleado</label>
						<div>
							<select class="form-control" th:field="*{tipoempleado.idtipoempleado}">
								<option th:each="t: ${tipoempleados}" th:value="${t.idtipoempleado}"
									th:text="${t.tipoempleado}"></option>
							</select>
						</div>
					</div>
					
					
					<div class="form-group row">
						<label for="telefono" class="col-sm-2 col-form-label">Telefono</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{telefono}"
								class="form-control" th:errorclass="'form-control alert-danger'" />
							<small class="form-text text-danger"
								th:if="${#fields.hasErrors('telefono')}"
								th:errors="*{telefono}"></small>
						</div>
					</div>
					<div class="form-group row">
						<label for="correo" class="col-sm-2 col-form-label">Correo</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{correoempleado}"
								class="form-control" th:errorclass="'form-control alert-danger'" />
							<small class="form-text text-danger"
								th:if="${#fields.hasErrors('correoempleado')}"
								th:errors="*{correoempleado}"></small>
						</div>
					</div>
					
					<div class="form-group row">
						<div class="col-sm-6">
							<input type="submit" th:value="${title}" class="btn btn-primary" />

						</div>
					</div>



				</form>


			</div>
		</div>
	</div>




	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>